<a href="https://colab.research.google.com/github/ashlyBiju/basicpythonml/blob/main/basicpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to `Python`

First Program displays a hello

In [ ]:
a=10
print("The value of variable a is ",a)

The value of variable a is  10

>Program to assign an integer and display it

Program to find sum of two numbers

In [ ]:
a=10
b=15
sum =a+b
print("The sum is ",sum)

The sum is  25

In [ ]:
print("hello")

hello

Read two from the user and find the sum

In [ ]:
a=input("Enter the first number")
b=input("Enter the second number")

Enter the first number15
Enter the second number5

In [ ]:
a=input("Enter the first number")
b=input("Enter the second number")
print(a)  # prints the value of a
print(b)  # prints the value of b

Enter the first number15
Enter the second number12
15
12

# Displaying the Sum

In [ ]:
a= int(input("Enter the first number"))         #here input function read values as strings.int()cast it as integer
b= int (input("Enter the second number"))
sum=a+b
print(sum)

Enter the first number10
Enter the second number15
25

#Variables

In [ ]:
#defining a variable in python there is no need  to mention data type
a=10 # an integer assignment 
b=5.26 # a floating pint assignment
c="HEllo" # a string
print(a,'',b,'',c) # single quotes is read as white space

10  5.26  HEllo

# Assignment

In [ ]:
a=b=c=15 # assigning same values to multiple varaiables
print(a,'',b,'',c)

15  15  15

In [ ]:
a,b,c=15,3.14,"hello" #assigning different values to variable in single expression
print(a,'',b,'',c)

15  3.14  hello

# Slicing

In [ ]:
# String operations
string="Hello" # a string
print(string) # prints complete string
print(string[0]) # prints first character of the string
print(string[2:5]) # prints characters starting from 3rd to 5th element
print(string [2:]) # prints string starting from 3rd character
print(string [:2]) # prints string till 3rd character
print(string*2) # prints string two times
print(string+"World") # prints concatenated strings

Hello
H
llo
llo
He
HelloHello
HelloWorld

# Data Types

In [ ]:
# python lists
list=['abcd',527,2.32,"ashly",9530.47] #  a list
tuple=["abcd",527,2.32,"ashly",9530.47] # a tuple  tuples are immutable ie cannot edit later
print(list) # prints complete list
print(list[0]) # prints first element of list
print(tuple[1:3]) # prints elements startting from 2nd till 3rd

['abcd', 527, 2.32, 'ashly', 9530.47]
abcd
[527, 2.32]

In [13]:
tel={"jack" : 4098,"sape" : 4139} 
tel["guido"]=2174 # seperately allocating value to new member
print(tel)
print(tel['jack']) #prints the value assosiated to jack
print(tel['guido'])
del tel['sape'] # deletes sape and the value asosiated with it
print(tel)
tel['irv']=4127
print(tel)
print(tel.keys()) # prints  only the strings the are known as keys
print(sorted(tel.keys())) # prints in sorted order
print(sorted(tel.values())) # prints the values in sorted order (increasing order)
print('guido'in tel) # returns boolean whether the given string is in the dictionary
print('jack'not in tel) # returns boolean whether the given string is not in the dictionary

{'jack': 4098, 'sape': 4139, 'guido': 2174}
4098
2174
{'jack': 4098, 'guido': 2174}
{'jack': 4098, 'guido': 2174, 'irv': 4127}
dict_keys(['jack', 'guido', 'irv'])
['guido', 'irv', 'jack']
[2174, 4098, 4127]
True
False

# Conditioning and looping

In [15]:
for i in range(0,10): # loops from 0 to 9
    if i%2==0:
        print("Square of " ,i, "is:",i*i)

    else:
        print(i,"is an odd number")

Square of  0 is: 0
1 is an odd number
Square of  2 is: 4
3 is an odd number
Square of  4 is: 16
5 is an odd number
Square of  6 is: 36
7 is an odd number
Square of  8 is: 64
9 is an odd number

# Built in functions

In [26]:
print("sum of array:",sum([1,2,3,4])) # calculates sum of the array
print("length of array:",len([1,2,3,4])) # claculates the length of the array
print("Absolute value:",abs(-1234)) # returns the absolute value
print("round value:",round(1.2234))

import math as mt  #importing a package
print("Log value:",mt.log(10))

sum of array: 10
length of array: 4
Absolute value: 1234
round value: 1
Log value: 2.302585092994046

#Functions

In [38]:
def area(length,width):
    return length*width
a = area(10,20)
print("Area of rectangle:",a)

Area of rectangle: 200